# Terraform state, backups, and working dirs
.terraform/
terraform.tfstate
terraform.tfstate.*
crash.log
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Exclude terraform/aws credentials and temp
terraform/aws/
terraform/*.zip

# SonarQube analysis foldersgit rm --cached terraform/*.zip *.pem *.key *.pub .env .venv issue_summary.txt sonar_metrics_summary.txt Bandit_analysis.txt bandit_result.json

.scannerwork/
.sonar/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
env/
venv/

# SSH Keys (never commit private/public keys)
*.pem
*.pub
*.key

# Zips and installers
*.zip

# Editor/OS files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# Logs
*.log

# S3 Uploads and generated reports
issue_summary.txt
sonar_metrics_summary.txt
Bandit_analysis.txt
bandit_result.json

# Terraform, SonarQube, and analysis temp keys
terraform/sonarqube-key
